
body {
    background-image: linear-gradient(to bottom, #3F51B5, #03A9F4);
}

.basic-box {
width: 1200px;
height: 500px;
border: 10px solid lightblue;
background-color: white;
padding: 10px;
color: blue;
position: relative;
top: 30px;
}