
:root {
    --bg-color: white;
}

:root[theme='dark'] {
    --bg-color: #333;
}

body {
    background-color: var(--bg-color);
}

.basic-box {
width: 1200px;
height: 500px;
border: 10px solid grey;
background-color: lightgray;
padding: 10px;
color: black;
position: relative;
top: 30px;
}

.moving-text {
width: 200px;
height: 100px;
animation: mymove 5s infinite;
}
@keyframes mymove {
  50% {font: 20px bold;}
}
.container {
position: relative;
text-align: center;
color: white;
}
.centered-text {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}

.img-right {
position: absolute;
left:62%;
top:25%;
}

.flex-box {
display: flex;

background-color: DodgerBlue;
}

.flex-box div {
background-color: #f1f1f1;
margin: 10px;
padding: 5px;
font-size: 20px;  
}